@charset "UTF-8";

/*Configuração Geral*/

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-size: contain;
    background-color: #233EFF;
    background-repeat: no-repeat;
}

h1{
    padding: 20px;
    color: white;
}